<!DOCTYPE html>
<head>
	<header><title>Linker</title></header>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		function dispatch() {

		};
	</script>
</head>
<body>
	<h1>Linker</h1>
	<br>
	<table>
		<tr>
			<form action="{{ url_for('link') }}">
			<td>
				<input type="text" name="star1">
			</td>
			<td>
				<input type="submit" value="Link">
			</td>
			<td>
				<input type="text" name="star2">
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				
			</td>
			<td>
			</td>
		</tr>
	</table>
</body>