<!DOCTYPE html>
<head>
	<header><title>Linker</title></header>
</head>
<body>
	<h1>Linker</h1>
	<br>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<table>
		<tr>
			<form action="{{ url_for('link') }}">
			<td>
				<input type="text" name="star1">
			</td>
			<td>
				<input type="submit" value="Link">
			</td>
			<td>
				<input type="text" name="star2">
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				
			</td>
			<td>
			</td>
		</tr>
	</table>
</body>